{% load static%}
<html>
<head>
    <style>
        @media screen and (max-width: 768px) {
        .footer-inside {
            font-size: 10px;
        }
        }
    </style>
</head>
<body>
<!-- footer section -->
<div class="footer-inside" style="background-color: black;width: 100%; height: 50px;color: #fff;padding: 10px; text-align: center;font-family:'Poppins', sans-serif;margin-top: 10px;">
    Copyright &copy; 2025 | Design & Development Team | Made with ❤️ by Anudha
</div>
<!-- footer section -->
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    
</body>
</html>
