# Make sure to install latest version of python
pip install django
pip install firebase-admin

# To push data in firebase; do not run this command unnecessary
# python import_json.py

# To run the project on server
# python manage.py runserver